.logo span>h1{
    position: relative;
    color: #838489;
    font-family: 'Kaushan Script', cursive;
    /* -webkit-text-stroke: 0.3vw  #383d52 ;  */
     /* text-transform: uppercase; */
}
span>h1:before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #d13e3e;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #d13e3e;
    overflow: hidden;
    animation: animate 6s linear infinite;

}
@keyframes animate
{
    0%,10%,100%
    {
        width: 0;
    }
    70%,90%
    {
        width:100%;
    }
}
.logo span{
    margin-bottom: 50px;
}
img{
    width: 25%;
    padding-bottom: 50px;
}
.logo{
    display: flex;
    margin-left:700px;
    margin-top: 20px;
}
nav{
    padding: 15px;
    top:0;
    display: flex;
    justify-content: space-between;
    background-attachment: fixed;
    z-index:1;
    background-color: white;
    position: sticky;
    width: 100%;
    
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.logo button{
    width: 80px;
    height: 30px;
    margin-top: 25px;
    margin-left: 15px;
    border-radius: 10px;
    background-color: aliceblue;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    background-color: black;
    color: white;
}
 .top>div>.nd{
    width: 100%;
   
    margin-top: 50px;
}
 @import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Bungee+Spice&family=Kaushan+Script&family=Noticia+Text&family=Noto+Serif+NP+Hmong&display=swap'); 

.top h1{
    font-family: 'Bungee Spice', cursive;

}
.top h1,p,h5{
    margin-left: 70px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 350px;

}
.st{
    width: 50%;
    margin-left: 70px;
    margin-top: 100px;
}
.pod{width: 90%;
    margin: auto;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
   
}
.pod img{
    width: 90%;
}
.pod div{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    align-items: center;
}
.pod p{
    margin-left:150px;
}
.p{
    margin: 100px 0 80px 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




.footer{
    padding: 70px 0;
    background-color: #f1eeea;
    
}
.footer-col{
    width: 18%;
    padding: 0 15px;

}
.footer-col h4{
    font-size: 18px;
    color: rgb(14, 14, 14);
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
    margin-left: 40px;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50%;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: rgb(11, 10, 10);
    text-decoration: none;
    font-weight: 300;
    color: rgba(23, 21, 21, 0.733);
    display:block;
    transition: 0.3s ease;


}
.footer-col ul li a:hover{
    color: #100f0f;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: egba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #191717;
    transition: all 0.5s ease;


}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #7a1b1b;
    transform: scale(1.1);
    z-index: 1;
    transition: .9s;

}
.container{
    max-width:100%;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.link{
    width: 80%;
    margin: auto;
   
}
.link span{
    margin-left: 40px;
    
}
.link p{
    margin-left: 80px;
}
.link span:hover{
    background-color: yellow;
}
.link p{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
.txt{
    font-family: Arial, Helvetica, sans-serif;
}
